{% extends "base.html" %}		

{% block content %}

	<h2>Plotting</h2>
	<form method="POST" action="/plots/">
		{% csrf_token %}
		{{variableValue_forms.as_p}}
		{{variableValue_forms.management_form}}
		{{variableValue_forms.id}}

		{% if messages %}
    		{% for message in messages %}
    			<p>{{ message }}</p>
    		{% endfor %}
		{% endif %}

		<input id="plot_submit" type="submit" name="plot" value="Plot" style="width:100px" />
		
		{% if charttype and chartdata %}
			{% load_chart charttype chartdata 'scatterchart_container' extra %}
    		{% include_container 'scatterchart_container' 400 600 %}
    	{% endif %}

	</form>
{% endblock content %}