{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
    $(function() {
        $('#id_value_forms tbody').formset({
            prefix: '{{ arg_forms.prefix }}',
            formCssClass: 'dynamic-arg_formset'
        });
        $('#id_files_forms tbody').formset({
            prefix: '{{ file_forms.prefix }}',
            formCssClass: 'dynamic-file-formset'
        });
    })
</script>

<h3>Submit Simulation</h3>

<form id="spec_form" method="post" action="/sim/">
    <table id="id_value_forms">
        <tbody>
        {% for form in arg_forms %}
            <tr><td>{{ form.type }}</td></tr>
            <tr><td>{{ form.name }}</td></tr>
            <tr><td>{{ form.args }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <table id="id_files_forms">
        <tbody>
        {% for form in file_forms %}
            <tr><td>{{ form.file }}</td></tr>
            <tr><td>{{ form.name }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <input type="submit" name="submit"/>
</form>
{% endblock content %}