<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>SPORe Web App</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="{% static '/javascript/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/javascript/jquery.formset.js' %}"></script>
    <link media="all" href="{% static '/css/nv.d3.css' %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% static '/javascript/stream_layers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static '/javascript/d3.v3.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static '/javascript/nv.d3.min.js' %}" charset="utf-8"></script>
    
    {% block extrahead %} {% endblock extrahead %}
</head>

<body>
    <div class="header">
        <h1>SPORe Web App</h1>
    </div>

    <div class="container">
        <div class="column menu">
            <nav>
                <ul>
                    <li> <a href="/">Home</a> </li>
                    <li> <a href="/sim/">Submit Simulation</a> </li>
                    <li> <a href="/logs/">Logs</a> </li>
                    <li> <a href="/plots/">Plots Constructor</a> </li>
                    <li> <a href="/admin/">Admin site</a> </li>
                </ul>
            </nav>
        </div>

        <div class="column content">
            {% block content %} {% endblock content %}
        </div>
    </div>
</body>
</html>